<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Sign In</title>
        
        <link rel="stylesheet" href="/css/basic.css"
        th:href="@{/css/login.css}" media="screen" type="text/css"></link>
    </head>
    <body>
        <div id = "biscuitbar">
            <a id="biscuittext" th:href="@{/home}">Biscuit</a>
        </div>
        <div class="below-nav">

            <div id = "signinbox">

                <div id="signintext">Sign In</div>

                <form th:action="@{/login}" method="post">
                    <div><input class="textbox" type="text" name="username" placeholder="Username"/> </div>
                    <div><input class="textbox" type="password" name="password" placeholder="Password"/></div>
                    <div id="buttondiv"><input id="signinbutton" type="submit" value="Sign In"/></div>
                </form>

                <div class="error" th:if="${param.error}">
                    Invalid username and password.
                </div>
                <div class="error" th:if="${param.logout}">
                    You have been logged out.
                </div>

                <div id="prompt">
                    Not signed up? <a class = "registerprompt" th:href="@{/signup}">Register</a>
                </div>
            </div>
        </div>
    </body>
</html>